<header>
  <div class="site__logo">
    <a routerLink="/">Cookbook.</a>
  </div>
  <nav class="site__nav">
    <a routerLink="/recipes" routerLinkActive="active">Recipes</a>
    <a routerLink="/shopping-list" routerLinkActive="active">Shopping List</a>
    <div class="dropdown" appDropdown>
      <a
        class="dropdown-toggle"
        role="button"
        data-toggle="dropdown"
        id="dropdownMenuButton"
      >Manage Data</a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
          <a class="dropdown-item">Save Data</a>
        </li>
        <li>
          <a class="dropdown-item">Fetch Data</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
