@import "../../../../../assets/styles/variables";

.recipe__preview {
  p {
    margin-bottom: 0;
    color: $color-dark
  }

  &.active {
    background-color: $color-primary;
    border-color:  $color-primary;

    p,
    h3 {
      color: #fff;
    }
  }
}

.recipe__thumbnail {
  max-height: 50px;
}
